.main {
  display: flex;
  flex-direction: column;
  align-items: center;
  padding: 6rem;
  min-height: 100vh;
}

.section {
  margin: 2rem 0;
}

.flagBanner {
  position: absolute;
  top: 5px;
  right: 15px;
}
